<a href="https://colab.research.google.com/github/dhivya910/fastai/blob/main/lesson_0/2_pandas_essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTANT**: Please avoid creating unnecessary DataFrames: use the DataFrames declared in section 1; create additional DataFrames only if necessary!

# **Pandas Essentials**
pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

## **What kind of data does pandas handle?**
When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.

pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,â€¦). Importing data from each of these data sources is provided by function with the prefix read_\*. Similarly, the to_\* methods are used to store data.


---

# 0. Import necessary  modules
Import pandas and NumPy

In [16]:
import pandas as pd
import numpy as np

# 1. Creating a DataFrame
Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is generally the most commonly used pandas object.
Pandas DataFrame can be created in multiple ways, a few include:
 - Method 1: Creating Pandas DataFrame from lists of lists.
 - Method 2: Creating DataFrame from dict of narray/lists
 - Method 3: Creating an indexes DataFrame using arrays.
 - Method 4: Creating DataFrame from list of dicts
 - Method 5: Creating DataFrame using zip() function: two lists can be merged by using list(zip()) function
 - Method 6: Creating a DataFrame from a NumPy array and specify the index column and column headers
 - Method 7: Creating an empty DataFrame

Feel free to add any other method that you discover!

In [4]:
# Creating Pandas DataFrame from lists of lists

x = [['Ken', 'CSE'], ['Den', 'ECE'], ['Ben', 'IT']]
df = pd.DataFrame(x, columns = ['Name', 'Dept'])
df

  Name Dept
0  Ken  CSE
1  Den  ECE
2  Ben   IT

In [5]:
# Creating DataFrame from dict of narray/lists

x = {'Name':['Ken', 'Den', 'Ben'],
        'Dept':['CSE', 'ECE', 'IT']}
df = pd.DataFrame(x)
df

  Name Dept
0  Ken  CSE
1  Den  ECE
2  Ben   IT

In [8]:
# Creating an indexes DataFrame using arrays.

x = {'Name':['Ken', 'Den', 'Ben'],
        'League':['Gold', 'Silver', 'Copper']}
df = pd.DataFrame(x, index =[1, 2, 3])
df

  Name  League
1  Ken    Gold
2  Den  Silver
3  Ben  Copper

In [11]:
# Creating DataFrame from list of dicts

x = [{'Ken': 1, 'Den': 2, 'Ben':3}, 
        {'Ken':'Gold', 'Den': 'Silver', 'Ben': 'Copper'}]
df = pd.DataFrame(x, index =['Place', 'League'])
df

         Ken     Den     Ben
Place      1       2       3
League  Gold  Silver  Copper

In [12]:
# Creating DataFrame using zip() function: two lists can be merged by using list(zip()) function

Name = ['Ken', 'Ben', 'Den']
Age = [18, 19, 20]
y = list(zip(Name, Age)) 
df = pd.DataFrame(y, columns = ['Name', 'Age'])
df

  Name  Age
0  Ken   18
1  Ben   19
2  Den   20

In [15]:
# Creating a DataFrame from a NumPy array and specify the index column and column headers

array = np.array([['Ken', 'CSE'], ['Den', 'ECE'], ['Ben', 'IT']])
  
x = [1, 2, 3]
   
# creating a list of column names
y = ['Name', 'Dept']
  
# creating the dataframe
df = pd.DataFrame(data = array, index = x, columns = y)
  
# displaying the dataframe
print(df)

  Name Dept
1  Ken  CSE
2  Den  ECE
3  Ben   IT

In [13]:
# Creating an empty DataFrame

df = pd.DataFrame()
  
print(df)

Empty DataFrame
Columns: []
Index: []

# 2. Fundamental DataFrame Operations
- Select an Index or Column from a DataFrame
- Add an Index, Row or Column to a DataFrame
- Delete Indices, Rows or Columns from a DataFrame
- Rename the Indices or Columns of a DataFrame
- Iterate over a DataFrame

Feel free to any any other important operations that you know!

In [ ]:
# Select an index


# Select a column

In [ ]:
# Add an index


# Add a row


# Add a column

In [ ]:
# Delete an index


# Delete a row


# Delete a column

In [ ]:
# Rename an index


# Rename a column

In [ ]:
# Iterate over a DataFrame: row-wise


# Iterate over a DataFrame: column-wise

# 3. Attributes of a DataFrame
A DataFrame has attributes! Understand the DataFrame by going through the attributes of the DataFrame class.
This section is completely open, unstructured!
Please go ahead and add all the interesting attributes you've discovered! (Mention appropriate description as comments for the same)

In [ ]:
# Drop all your discovered attributes here!

# 4. Methods of a DataFrame
Explore DataFrame capabilities through its methods!
This section is completely open, unstructured!
Please go ahead and add all the interesting methods you've discovered! (Mention appropriate description as comments for the same)

## *Warning: Do not repeat the methods in the following section!*

In [ ]:
# Drop all your discovered methods here!

# 5. 15 most important pandas functions that you should know!
- read_csv()
- to_csv()
- head()
- describe()
- memory_usage()
- astype()
- loc[:]
- to_datetime()
- value_counts()
- groupby()
- drop_duplicates()
- merge()
- sort_values()
- fillna()
- corr()

In [ ]:
# read_csv()

In [ ]:
# to_csv()

In [ ]:
# head()

In [ ]:
# describe()

In [ ]:
# memory_usage()

In [ ]:
# astype()

In [ ]:
# loc[:]

In [ ]:
# to_datetime()

In [ ]:
# value_counts()

In [ ]:
# groupby()

In [ ]:
# drop_duplicates()

In [ ]:
# merge()

In [ ]:
# sort_values()

In [ ]:
# fillna()

In [ ]:
# corr()